$theme-blue: #2772a4;

$main-background: #e9ebee;

$profile-name: #333333;
$profile-position: #777777;
$nav-focus: $theme-blue;
$nav-default-underline: rgb(217, 217, 217);
$nav-default: rgb(153, 153, 153);
$nav-hover: #333333;

$social-wrapper-default: #bbbbbb;
$social-wrapper-focus: $theme-blue;

$card-border-color: #e5e6e9 #dfe0e4 #d0d1d5;