@media screen and (min-width: 1250px) {
  main {
    flex-direction: row;

    > #main-header {
      width: 180px;
    }

    > #main-content {
      width: 580px;
    }

    > #main-right {
      width: 386px;
    }
  }
}

@media screen and (max-width: 1250px) and (min-width: 1050px) {
  main {
    flex-direction: row;

    > #main-header {
      width: 160px;
    }

    > #main-content {
      width: 480px;
    }

    > #main-right {
      width: 320px;
    }
  }
}

@media screen and (max-width: 1050px) {
  main {
    flex-wrap: wrap;

    > #main-header {
      width: 100%;
    }

    > #main-content {
      width: 100%;
    }

    > #main-right {
      width: 100%;
    }
  }
}